{{>components/header}}

<head>
    <style type="text/css">
        .chat-box {
            padding: 10px;
            overflow-y: scroll;
            position: relative;
        }

        #chat-send {
            background-color: #4a90e2;
            width: 60px;
            height: 60px;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 10px;
            float: left;
        }

        .text-box {
            background-color: #fafafa;
            padding: 10px;
        }

        .text-box #message {
            height: 60px;
            float: left;
            width: calc(100% - 70px);
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 0.5px #d7d7d7;
            resize: none;
            padding: 10px;
            font-size: 14px;
        }

        .hide {
            display: none;
        }

    </style>
</head>
<body>
<div class="container low col-4 pt-2 pb-2" style="background-color: rgb(212, 214, 241);">
    <div class="col-12">
        <h2 class="text-center flash">{{ title }}</h2>
        <a class="hide" onclick="out()">나가기</a>
    </div>

    <div id="content-box" style="height: 400px"></div>

    <div id="message-tmpl2" type="x-tmpl-mustache" class="hide">
        {{#message}}
            {{ sender }} : {{ content }}
        {{/message}}
    </div>

    <div class="text-box">
        <input type="text" onkeyup="if(window.event.keyCode === 13){messageService.sendMessage()}" id="content"/>
        <input type="button" onclick="messageService.sendMessage()" value="send" id="chat-send"/>
        <div class="clearfix"></div>
    </div>
    <input id="chatroomId" class="hide" value="{{ chatroomId }}" />
    <!-- <input type="button" onclick="disconnect()" value="disconnect"/> -->
    <input type="text" value="${member.name }" id="userName"
           style="display: none;">
    <div id="filePath" style="display: none;"></div>
</div>

{{>components/footer}}

<script src="/assets/js/mustache.min.js"></script>
<script src="/js/chat/message.js"></script>
<script type="text/x-mustache" id="message-tmpl">
    {{#sender}}{{.}} : {{/sender}}{{#content}}{{.}}{{/content}}
</script>