</body>
</html>
<!-- Core JS -->
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>

<script>
    function shortPage() {
        let accessToken = localStorage.getItem("accesstoken");

        //TODO postman 으로 헤더에 추가시 정상 작동하는데 페이지전환문제때문에 해결해야함

        $.ajax({
            url: '/ust/shorturl',
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-AUTH-TOKEN", accessToken);
            },
            success: function () {
                location.replace("/ust/shorturl")
            },
            error: function () {
                alert('error!');
            }
        });
    }
</script>