{{>components/header}}

<div class="container low col-6 pt-5">
    <div class="text-center">
        <h1>Login Page!!!</h1>
        <form action="/member/login" method="post">
            <div class="col-12 mt-3">
              <label class="col-2" for="email">이메일 : </label>
                <input type="text" name="email" id="email"
                       placeholder="email">
            </div>
            <div class="col-12 mt-3">
                <label class="col-2" for="password">비밀번호 : </label>
                <input type="text" name="password" id="password"
                       placeholder="비밀번호">
            </div>
          <input class="btn btn-primary mt-3" type="button" onclick="loginService.login()" value="로그인">
        </form>
        <div>
            <a class="btn btn-primary" href="/member/signup">회원가입</a>
        </div>
    </div>
</div>

{{>components/footer}}
<script src="/js/member/login.js"></script>