{{>components/header}}

<div class="container low col-6 pt-5">
    <div class="text-center">
        <h1>Signup Page!!!</h1>
        <form action="/member/signup" method="post">
            <div class="col-12 mt-3">
                <label class="col-2">이메일 : </label>
                <input class="col-4" type="email" name="email" id="email">
            </div>
            <div class="col-12 mt-3">
                <label class="col-2">비밀번호 : </label>
                <input class="col-4" type="password" name="password"
                       placeholder="8자이상 특수문자포함"
                       pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$">
            </div>
            <div class="form-group low col-12 mt-3 inline">
                <label class="col-2">이름 : </label>
                <input class="col-4" type="text" name="name" id="name">
            </div>
            <div class="form-group low col-12 mt-3 inline">
                <label class="col-2">전화번호 : </label>
                <input class="col-4" type="text" name="tel" id="tel">
            </div>
            <input class="btn btn-primary pt-4" type="submit" value="회원가입">
        </form>
    </div>
</div>

{{>components/footer}}